{% extends "standard.htm" %}

{% block title %} Home{% endblock %}

{% block content %}
    <div class="current">Home</div>
        <p>
        <b>Embryo</b> is a project to foster <b>strong collaboration</b> of BITS students and BITS faculty with the alumni and friends of BITS Pilani.
                          <p>Through <b>lecture series</b> and <b>collaborative projects</b>, the students can get exposure to the cutting edge research areas. They also get an opportunity to network with Alumni and friends of BITS, who are reputed academicians and industry leaders.</p>
                          <p>We aim to leverage BITSConnect to bring the alumni more closer to the students and faculty. Each and every alumnus can contribute his most valuable resources to BITS Pilani - knowledge and experience.</p>
                          <p>The approach is three-fold:
                          <ul>
                          <li>Complement BITS courses through video lecture series</li>
                          <li>Facilitate collaborative research projects between alumni and BITS</li>
                          <li>Expose students to current research trends and provide guidance for pursuing research projects</li>
                          </ul>
                          </p>
                          <p>Embryo aims to help BITS Pilani students become Leaders, Innovators and Entrepreneurs of tomorrow.</p>
                          <p>You can also contribute to Project Embryo. Register with us and we shall get into touch shortly.</p>
                          <p align="center"><a href="/register"><input type="button" value="Register" /></a>
                          </p>
{% endblock %}