{% extends "standard.htm" %}

{% block title %} AIC{% endblock %}

{% block content %}
    <div class="current">AIC 2014</div>
	<h3>{{ company.company_name }}</h3>
		<p>
		Following are details for {{ company.company_name }}. 
		{% if company.logo %}
		<img style="border: 2px solid black; margin-left: 10px; margin-right: 10px; float: right;" src="{{ company.logo }}" alt="{{ company.company_name }}" width="100" height="100" />
		{% endif %}
		</p>
		<p>
		<ol>
		<b>Track(s)</b>:
		<br />
		<p>
		{{ company.discipline.all|join:"<br />" }}
		</p>
		</ol>
		</p>
		{% if company.company_description %}		
		<p>
		<ol>
		<b>Company Description:</b>
		<br />
		<p>
		{{ company.company_description }}
		</p>
		</ol>
		</p>
		{% endif %}
		{% if company.problem_statement_details %}		
		<p>
		<ol>
		<b>Problem Statement Details:</b>
		<br />
		<p>
		{{ company.problem_statement_details }}
		</p>
		</ol>
		</p>
		{% endif %}
		
		{% if company.problem_statement_file %}		
		<p>
		<ol>
		<b>Problem Statement:</b>
		<br />
		<p>
		<embed src="/{{ company.problem_statement_file }}" width=718px height=400px>
		</p>
		</ol>
		</p>
		{% endif %}
	
		
		{% if submission_date %}		
		<p>
		<ol>
		<b>Submission Deadline:</b>
		<br />
		<p>
		{{ submission_date }}
		</p>
		</ol>
		</p>
		{% endif %}
		
		{% if is_active %}		
		<p>
		<ol>
		<b>The deadline is approaching.
		<br />
		<br />
		<a href = "/company_register/{{ company.id }}/">Register and Upload your solution here.</a>
		</b>
		</ol>
		</p>
		{% else %}
		<p>
		<ol>
		<b>The deadline for this year's Apogee Innovation Challenge for the company {{ company.company_name }} is already over. We're sorry. You can browse through other companies. There might still be time for some of them. Hurry!  </b>
		<br />
		</ol>
		</p>
		
		{% endif %}

    	<h3>Want to Browse other Tracks?</h3>
	<p>Following are the tracks for Apogee Innovation Challenge 2015. Click on any track to browse through the companies and register as a participant.</p>
	<ul>
	{% for discipline in aic_disciplines %}
    	<li><p><a href="/tracks/{{ discipline.id }}/">{{ discipline.stream }}</a></p></li>
        {% endfor %}
	</ul>
	
	
{% endblock %}
