{% extends "standard.htm" %}

{% block title %} AIC Registration{% endblock %}

{% block content %}

<div class="current">Thank You!</div>
	<h3>
	Registration Form for {{ company.company_name }}
	</h3>
	<p>Dear Participant,</p>
	<p>Congratulations!
	<br />
	Your registration was successful. 
	<br />
	Thank you for registering for Apogee Innovation Challenge. <b>We've sent all the members of your team an email consisting a link to upload your solution. You can upload your solution on the link by the deadling specified in the email.</b>	
	<p>With best regards,
	<br />BITS Embryo.</p>
	<p>For any problems contact, drop an email at embryoclub[at]gmail.com or contact:<br />Rohan Badlani, +91-9660582805<p>
	
{% endblock %}
