{% extends "standard.htm" %}

{% block title %} Contribute{% endblock %}

{% block content %}
<div class="current">Contribute</div>
<h3>
How can I contribute?
</h3>
<p>
You can share your valuable knowledge and experience to provide exposure to students on campus, complementing the education they receive at BITS.
</p>
<ul>
                <li>As a faculty in the academic world, you can give guest lectures or teach an entire course at BITS.</li>
                <li>As a MS/PhD student doing research, you can talk about current research areas, motivate students of your discipline to take up research projects or help them apply to graduate schools.</li>
                <li>As a professional working in the industry, you can bring the industry perspective to the coursework at BITS, and give guest lectures on current trends in the industry. You can also talk about topics that supplement existing curriculum.</li>
                </ul>
                
                <p>The Embryo team will</p>
                <ul>
                <li>Pure altruistic pleasure</li>
                <li>Collaboration and networking with some of the brightest students in India.</li>
                </ul>
                
                
                <h3>What do I get from it?</h3>
                
                <ul>
                <li>Click<a href="/faq"> here </a>for FAQ's</li>
                <li>Click<a href="/register"> here </a> to Register</li>
                </ul>
                
                
                
                <h3>Resources</h3>
                <ul>
                <li><a href="http://172.18.6.177/ID/Handouts.do">Handouts</a> for courses offerred this Semester</li>
                </ul>

{% endblock %}