{% extends "standard.htm" %}

{% block title %} FAQ's{% endblock %}

{% block content %}
    <div class="current">FAQ's</div>
    <h3>Q.1 I have decided to deliver a talk. What now?</h3>
<p><strong>Step 1: </strong>Register yourself <a href="/register">here</a> on our Website as a Lecturer.One of the Embryo Co-ordinators will contact you soon after.</p>
<p><strong>Step 2: </strong>Finalise the date and time of the talk with the co-ordinator.</p>
<p><strong>Step 3: </strong>You provide an abstract of the topic of your talk.</p>
<p><strong>Step 4: </strong>Our technical team will fix up a date for the trial run which is required to check the Technical compatibility from both the ends and smoothen out glitches if any.</p>
<p><strong>Step 5: </strong>You provide the presentation (ppt / pdf)  and any supporting audio visual material, that you will be using during your talk.</p>
<p><strong>Step 6: </strong>We connect to you about 10 minutes before the scheduled time of the talk.</p>

<h3>Q.2 Who will be my target audience?</h3>
<p>The target audience for Embryo lectures is the undergraduate and postgraduate students of BITS who are pursuing degrees in various disciplines of science, technology and humanities. Faculty with relevant areas of research interest may also attend.</p>
<p>Click <a href="http://172.18.6.177/ID/Handouts.do">here</a> to see the list of the course handouts offered by BITS Pilani. It can be used as a reference to gauge the academic experience of your audience. Besides academics the students of BITS are involved in a number of extra- curricular activities like photography, music, dancing, painting, sports etc. Their career interests besides engineering are finance, management, consultancy and civil services.</p>

<h3>Q.3 What is the typical duration of a lecture?</h3>
<p>45-60 minutes</p>

<h3>Q.4 What software/technical requirements would be needed?</h3>
<p>We use Skype<sup>TM</sup> for most of our talks. However if you wish to have desktop sharing then we use Vu Conference<sup>TM</sup>. We have a dedicated bandwidth of 16 Mbps on our side. The minimum bandwidth required from your end is 512 kbps for Skype<sup>TM</sup> and 2 Mbps for Vu Conference<sup>TM</sup>. The other accessories required are a microphone and a webcam (minimum 1.3 MP). The integrated webcam of your laptop can also do.</p>

<h3>Q.5 I am not a BITS Alumni.  Can I still deliver an lecture?</h3>
<p>You are most welcome. Please register <a href="/register">here</a> on our Website.  We would be more than happy to discuss any such opportunity with you.</p>

<h3>Q.6 What is the scope of topics covered in Embryo Lectures?</h3>
<p>The lectures of Embryo cover topics from a variety of areas of academic and non -academic fields. Our past lectures were:
<ul>
<li>Innovation/Patents - Disposable syringes (Mark Koska), Rainwater harvesting (Vijay Kedia)</li>
<li>Research - Smell as a quantum phenomenon (Luca Turin,MIT), Smart materials</li>
<li>Technical - Online Ads: Driving Innovation in Technology (Vinay Deo)</li>
<li>Humanities - Mind-set development and communication skills</li>
<li>Career - Applying for MS/PhD (Soumyadeep Ghosh)</li>
<li>Finance - Personal Wealth management (Anand Mohan Agarwal)</li>
<li>Current affairs - Naxalism (Anand Agarwal,IPS)</li>
<li>Management - Optimal decision making in real time (Dr. Subhash Gupta)</li>
</ul></p>
<p>Click <a href="/lectures">here</a> to see the complete list of talks</p>

<h3>Q.7 Will it be possible to get feedback from students?</h3>
<p>Facilities for audio-visual interaction with the audience are provided, so you can judge the live feedback for yourself. If you require anonymous feedback after the lecture, Embryo will undertake to perform it.</p>

{% endblock %}