<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BITS Embryo: Home</title>
<link rel="stylesheet" type="text/css" media="screen" href="css/base.css" />
<!--<script type="text/javascript" src="j query/easy_rotator.min.js"></script>-->
  <script src="js/jquery.js"></script>
  <script defer src="js/jquery.flexslider-min.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
  </script>
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
</head>

<body>
<div class="header">
	<div class="headercont">
        <div class="logo"></div>
        <div class="menu">
            <ul>
                <li><a href="/home"><span>Home</span></a></li>
                <li><a href="/lectures"><span>Lecturers</span></a></li>
                <li><a href="/contribute"><span>Contribute</span></a></li>
                <li><a href="/gallery"><span>Gallery</span></a></li>
                <li><a href="/newsletter"><span>Newsletter</span></a></li>
                <li><a href="/about"><span>About us</span></a></li>
                <li><a href="/theteam"><span>The Team</span></a></li>
            </ul>
        </div>
    </div>
    <div class="bstrip"></div>
    <div class="bar"></div>
</div>

<div class="content">
    <div class="flexslider" id="banner">
      <ul class="slides">
        <li><img src="images/speaker/ART_Rajat.jpg" /></li>
        <li><img src="images/speaker/ART_Arpit.jpg" /></li>
        <li><img src="images/speaker/ART_Rizwan.jpg" /></li>
        <li><img src="images/speaker/ART_Rajat.jpg" /></li>
      </ul>
    </div>

    <div class="text">
        <img src="images/Home.gif">
        <p>
        <b>Embryo</b> is a project to foster <b>strong collaboration</b> of BITS students and BITS faculty with the alumni and friends of BITS Pilani.
        
                          <p>Through <b>lecture series</b> and <b>collaborative projects</b>, the students can get exposure to the cutting edge research areas. They also get an opportunity to network with Alumni and friends of BITS, who are reputed academicians and industry leaders.</p>
        
                          <p>We aim to leverage BITSConnect to bring the alumni more closer to the students and faculty. Each and every alumnus can contribute his most valuable resources to BITS Pilani - knowledge and experience.</p>
        
                          <p>The approach is three-fold:
        
                          <ul>
        
                          <li>Complement BITS courses through video lecture series</li>
        
                          <li>Facilitate collaborative research projects between alumni and BITS</li>
        
                          <li>Expose students to current research trends and provide guidance for pursuing research projects</li>
        
                          </ul>
        
                          </p>
        
                          <p>Embryo aims to help BITS Pilani students become Leaders, Innovators and Entrepreneurs of tomorrow.</p>
    </div>
	<div class="flexslider" id="side">
        <ul class="slides">
        <li><img src="images/speaker/ART_Rajat.jpg" /></li>
        <li><img src="images/speaker/ART_Arpit.jpg" /></li>
        <li><img src="images/speaker/ART_Rizwan.jpg" /></li>
        <li><img src="images/speaker/ART_Rajat.jpg" /></li>
        </ul>
	</div>
<div class="footer">
    &copy; BITS Embryo
    <div class="bfoot"></div>
</div>
</div>
</body>

</html>
