{% extends "standard.htm" %}

{% block title %} Pilani Team{% endblock %}

{% block content %}

<div class="current">Pilani Team</div>
	<h3>Head</h3>
	<p>Dr Rahul Banerjee</p>

	<h3>Faculty In Charge</h3>
	<p>Dr Rishikesh Vaidya</p>

	<h3>President</h3>
	<p>Kireeti Mara</p>

	<h3>Vice-President</h3>
	<p>Hemant Singh</p>

	<h3>Treasurer</h3>
	<p>Niranjan Godbole</p>

	<h3>Technical Team</h3>
	<p>AKHILESH ANANDH, Siddharth Malhotra, Apoorv Bhargava, Palak Joshi, Yash Jain, Kunal Biyani, Navneet Jha, Aditi Aggarwal, Siddhant Shrivastava</p>

	<h3>Web Team</h3>
	<p>MAYANK GUPTA, Niranjan Godbole, Shreya Jain, Hrishikesh Mukte, Hasil Sharma, Gyan Prakash Verma, Sumit Binnani, Saransh Mehta, Rohan Badlani</p>

	<h3>Publicity Team</h3>
	<p>CHETAN CHOPRA, Amanpreet Singh, Sumit Binnani, Soniya Lunawat, Ankit Bansal, Roopana Chenchu, Nirant Kasliwal, Chinmayee Bhamburkar</p>

	<h3>Editorial Team</h3>
	<p>ASHWINI POKLE, Ayan Sen, Akanksha, Anurag Nandi, Shivangi Singh, Rachna Jha, Dedeepya</p>

	<h3>Communication Team</h3>
	<p>SHREYA INAMDAR, ANKITA SARDA, Arnav Jain, Radhika Joshi, Amit Vikram Dutta, Akhilesh Anand, Siddharth Awasthi, Siddharth Malhotra, Nitish Pratik, Akanksha, Devendra Mittal, Parth, Siddhant Shrivatsava</p>

	<h3>Joint Secretaries</h3>
	<p>Sumit Binnani, Siddharth Awasthi, Shivangi Singh</p>

	<h3>Student Mentors</h3>
	<p>Raj Kiran Joshi, Yash Kothari</p>

	<small><p>You're welcome to join.Send a mail to embryoclub[at]gmail.com</p></small> 
{% endblock %}
